module.exports = {
    apps: [
        {
            name: 'MOAP-Backend',
            script: 'npn',
            args: 'start',
            env: {
                PORT: 9250
            }
        }
    ]
}
